# Data preprocessing for Apriori algorithm

In [1]:
import pandas as pd
import numpy as np
import re

import nltk
from nltk.corpus import stopwords

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('../data/all_preprocessed.csv')
df.describe()

,author,content,poem name,age,type,age_type
count,573,573,571,573,573,573
unique,67,506,508,2,3,6
top,william shakespeare,originally published in poetry march 1914,Canto IV,Renaissance,Love,Renaissance Love
freq,71,4,3,315,326,243

In [3]:
df['content'] = df['content'].apply(lambda x: x.split())
df['content']

0      [let, the, bird, of, loudest, layon, the, sole...
1      [sir, charles, into, my, chamber, coming, in, ...
2      [our, vice, runs, beyond, all, that, old, men,...
3      [lo, i, the, man, whose, muse, whilome, did, m...
4      [long, have, i, longd, to, see, my, love, agai...
                             ...
568    [with, the, man, i, love, who, loves, me, not,...
569    [hart, crane, voyages, i, ii, iii, iv, v, vi, ...
570    [when, you, are, old, and, grey, and, full, of...
571    [give, me, hunger, o, you, gods, that, sit, an...
572    [potuia, potuiawhite, grave, goddess, pity, my...
Name: content, Length: 573, dtype: object

In [4]:
stop_words = set(stopwords.words('english'))

In [5]:
df['content'] = df['content'].apply(lambda x: [item for item in x if item not in stop_words])
df['content']

0      [let, bird, loudest, layon, sole, arabian, tre...
1      [sir, charles, chamber, coming, writing, fairy...
2      [vice, runs, beyond, old, men, saw, far, authe...
3      [lo, man, whose, muse, whilome, maske, time, t...
4      [long, longd, see, love, againe, still, wisht,...
                             ...
568    [man, love, loves, walked, street, lamps, flar...
569    [hart, crane, voyages, ii, iii, iv, v, vi, com...
570    [old, grey, full, sleep, nodding, fire, take, ...
571    [give, hunger, gods, sit, givethe, world, orde...
572    [potuia, potuiawhite, grave, goddess, pity, sa...
Name: content, Length: 573, dtype: object

In [6]:
df['content'] = df['content'].apply(lambda x: list(set(x)))
df['content']

0      [two, single, layon, phoenix, concordant, mine...
1      [sent, made, fearing, fames, tell, seen, chamb...
2      [proverbs, laws, golden, thy, themes, saw, cir...
3      [strangle, infixe, tumbling, fielde, retrate, ...
4      [gaine, precious, loves, beautie, fees, longd,...
                             ...
568    [saidthat, picture, lovein, knew, walkedpast, ...
569    [used, permission, liveright, complete, corpor...
570    [crowd, changing, take, grace, lookyour, beaut...
571    [sunset, changing, comingof, give, orders, sha...
572    [pity, shade, feet, thy, loves, shepherdmoved,...
Name: content, Length: 573, dtype: object

In [12]:
newDF = pd.DataFrame(columns =['document', 'word'])
for i, content in enumerate(df.content):
    doc = [i] * len(content)
    
    tmp = pd.DataFrame(list(zip(doc, content)), columns =['document', 'word'])
    
    newDF = pd.concat([newDF, tmp])
newDF

   document        word
0         0         two
1         0      single
2         0       layon
3         0     phoenix
4         0  concordant
..      ...         ...
41      572      cicada
42      572     sadness
43      572   shoulders
44      572      potuia
45      572        slim

[43994 rows x 2 columns]

In [9]:
newDF.to_csv('data.csv', index=True)