# Data preprocessing for Apriori algorithm in SPSS

In [1]:
import pandas as pd
import numpy as np
import re

import nltk
from nltk.corpus import stopwords

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('../data/all_preprocessed.csv')
df.describe()

,author,content,poem name,age,type,age_type
count,573,573,571,573,573,573
unique,67,506,508,2,3,6
top,william shakespeare,originally published in poetry march 1914,Canto IV,Renaissance,Love,Renaissance Love
freq,71,4,3,315,326,243

In [3]:
df['content'] = df['content'].apply(lambda x: x.split())
df['content']

0      [let, the, bird, of, loudest, layon, the, sole...
1      [sir, charles, into, my, chamber, coming, in, ...
2      [our, vice, runs, beyond, all, that, old, men,...
3      [lo, i, the, man, whose, muse, whilome, did, m...
4      [long, have, i, longd, to, see, my, love, agai...
                             ...
568    [with, the, man, i, love, who, loves, me, not,...
569    [hart, crane, voyages, i, ii, iii, iv, v, vi, ...
570    [when, you, are, old, and, grey, and, full, of...
571    [give, me, hunger, o, you, gods, that, sit, an...
572    [potuia, potuiawhite, grave, goddess, pity, my...
Name: content, Length: 573, dtype: object

In [4]:
stop_words = set(stopwords.words('english'))

In [5]:
df['content'] = df['content'].apply(lambda x: [item for item in x if item not in stop_words])
df['content']

0      [let, bird, loudest, layon, sole, arabian, tre...
1      [sir, charles, chamber, coming, writing, fairy...
2      [vice, runs, beyond, old, men, saw, far, authe...
3      [lo, man, whose, muse, whilome, maske, time, t...
4      [long, longd, see, love, againe, still, wisht,...
                             ...
568    [man, love, loves, walked, street, lamps, flar...
569    [hart, crane, voyages, ii, iii, iv, v, vi, com...
570    [old, grey, full, sleep, nodding, fire, take, ...
571    [give, hunger, gods, sit, givethe, world, orde...
572    [potuia, potuiawhite, grave, goddess, pity, sa...
Name: content, Length: 573, dtype: object

In [6]:
df['content'] = df['content'].apply(lambda x: list(set(x)))
df['content']

0      [lack, parts, hearts, remain, wing, others, le...
1      [rude, tell, sir, service, like, praysaid, kne...
2      [old, uncontrolled, vice, painted, hue, extrem...
3      [tell, sir, ocean, length, freshly, silence, s...
4      [obtaine, love, endles, clouds, sway, vaine, y...
                             ...
568    [said, love, hearts, fiery, lamps, flood, well...
569    [hart, iii, copyright1986, iv, ii, simon, cran...
570    [changing, old, love, glad, loved, beside, mur...
571    [comingof, little, leave, love, touch, givethe...
572    [aforetime, cicada, cypress, noonswhen, pity, ...
Name: content, Length: 573, dtype: object

In [7]:
newDF = pd.DataFrame(columns =['document', 'word'])
for i, content in enumerate(df.content):
    doc = [i] * len(content)
    
    tmp = pd.DataFrame(list(zip(doc, content)), columns =['document', 'word'])
    
    newDF = pd.concat([newDF, tmp])
newDF

   document     word
0         0     lack
1         0    parts
2         0   hearts
3         0   remain
4         0     wing
..      ...      ...
41      572  ecstasy
42      572   potuia
43      572  breasts
44      572     upon
45      572     thee

[43994 rows x 2 columns]

Sorting fo apriori algorithm

In [8]:
sortedDf = newDF.sort_values(by=['document', 'word'])
sortedDf

    document          word
31         0        anthem
47         0  appalledthat
126        0       arabian
116        0       asunder
112        0         augur
..       ...           ...
14       572          thou
5        572           thy
6        572          told
44       572          upon
31       572     whispered

[43994 rows x 2 columns]

In [9]:
sortedDf.to_csv('data.csv', index=True)